@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: rebeccapurple;
}


header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

#logo {
    height: 50px;
}

#foto-perfil {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#usuario {
    display: flex;
    margin-right: 10px;
    margin-top: 2px;
}

a {
    font-family: "Roboto", sans-serif;
    padding-left: 19px;
    /* remove o sublinhado do link ou quaisquer outras decorações que uma tag textual possa ter */ 
    text-decoration: none;
}

#nome-usuario {
    font-family: "JetBrains Mono", monospace;
}

#header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

footer {
    background-color: black;
    height: 400px;
}

#direitos {
    color: white;
    font-size: 30px;
}