p {
    font-size: larger;    
}
#quadrado {
    height: 200px ;
    width: 200px;
    background-color: red;;
}

#container {
    background-color: blue ;
    /* O CSS enxerga os elementos do HTML como caixas e dependendo do elemento, ele pode ocupar a tela onteira, ou apenas a drea que utiliza.
    Como o CSS serve para manipular visualmente os elementos do HTML, podemos forçar uma caixa rigida a se tornar flexivel para organizar os conteudos que estão na nela.  */
   
    height: 500px;
   
    display: flex;
    justify-content: space-evenly; 
    align-items: center;   
}
img {
    width: 300px;
    height: 300px;
}